/* ===============================
   ADMIN NAVBAR
=============================== */

.admin-navbar {
  background: #1e3a8a;
  color: #fff;
  padding: 14px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 30px;
}

.admin-title {
  font-size: 18px;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 22px;
  align-items: center;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #e5e7eb;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.3s;
  font-weight: 500;
}

.nav-links a:hover {
  background: rgba(255,255,255,0.15);
  color: #fff;
}

.nav-links .active a {
  background: #2563eb;
  color: #fff;
}

/* ===============================
   DROPDOWN
=============================== */

.dropdown-menu {
  position: absolute;
  top: 20px;
  left: 0;
  background: #ffffff;
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  display: none;
  z-index: 1000;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu a {
  color: #1f2937;
  display: block;
  padding: 10px 14px;
  border-radius: 6px;
}

.dropdown-menu a:hover {
  background: #f3f4f6;
  display: grid;
}

/* Show dropdown */
.dropdown:hover .dropdown-menu {
  display: block;
  
}
.update-btn a {
  background: #ff9800;
  color: #fff !important;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s;
}

.update-btn a:hover {
  background: #e68900;
}
.update-box {
  max-width: 400px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.update-box input,
.update-box select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}

.update-box button {
  width: 100%;
  padding: 10px;
  background: #2a5298;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
